<% if current_user %>
  <header class="jumbotron subhead" id="overview">
    <div class="subnav">
      <ul class="nav nav-pills">
        <li class="active"><a href="#about">About</a></li>
        <li><a href="#bookshelf">Bookshelf</a></li>
      </ul>
    </div>
  </header>
<% end %>

<section id="about">
  <div class="page-header"><h2>About Kindling</h2></div>

  <p>Kindling provides a simple platform for organizing and sharing your kindle purchases, just by forwarding your Amazon receipts to our service.  No more manually selecting your books, no finding the right cover art, no more hassles!</p>

  <h3>How to use!</h3>

  <p>Simply forward your receipt to receipts@kindling.io after registering your e-mail account.</p>
</section>

<% if current_user %>
  <section id="bookshelf">
    <div class="page-header"><h2>Bookshelf</h2></div>

    <ul>
      <% current_user.items.each do |item| %>
        <li><%= item.title %></li>
      <% end %>
    </ul>
  </section>
<% end %>
